[user]
	email = daniel@apatin.ru
	name = Daniel Apatin
	signingkey = 5318C0DF
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[help]
	autocorrect = 1
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
	fsmonitor = true
[init]
	defaultBranch = main
[push]
	default = current
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[github]
	user = ad
[commit]
	gpgSign = true
[tag]
	gpgSign = true
